@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"),     url(~static/fonts/ComfortaaVariableFont.ttf) format("truetype");
}
@font-face {
  font-family: "YanoneKaffeesatz";
  src: local("YanoneKaffeesatz"),     url(~static/fonts/YanoneKaffeesatz-VariableFont_wght.ttf) format("truetype");
}
.Comfortaa {
  font-family: "Comfortaa";
}
.YanoneKaffeesatz {
  font-family: "YanoneKaffeesatz";
}
.TransformTranlateX {
  transform: translateX(-50%);
}